body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to top, #FFC107, #FF9800);
  /* background: linear-gradient(to top, #FFC107, #e68a00); */
}

#root {
  margin: 30px 34px;
  position: relative;
  min-height: 100vh;
}
