body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to top, #162549, #0c1633);
  /* background: linear-gradient(to top, #121f3d, #0c1633); */
}

#root {
  margin: 30px 34px;
  position: relative;
  min-height: 100vh;
}
