.TodoSearch {
  background: transparent;
  border: 1px solid #98ca3f;
  border-radius: 20px 0 20px 0;
  height: 64px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #757575;
  z-index: 5;
}

.TodoSearch::placeholder {
  color: #757575;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #98ca3f;
}

.TodoSearch:disabled {
  opacity: 35%;
}