.LoadingTodo-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 20px;
}
.LoadingTodo-circle {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
.LoadingTodo-circle {
  background: linear-gradient(90deg, #0c1633c4, #97ca3faf);
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}
@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
