.TodoItem {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: relative;
  border: 1px solid transparent;
  border-radius: 20px 0 20px 0;
  box-shadow: 0px 0px 16px 6px rgba(255,160,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.TodoItem-p {
  /* margin: 24px 0 24px 24px; */
  width: calc(100% - 120px);
  height: 10px;
  color: #757575;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  position: absolute;
  left: 12px;
  color: #757575;
}
.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -24px;
  right: 0;
  color: #757575;
}
.Icon-delete:hover {
  color: #F44336;
}