.TodoTitle {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.TodoTitle-icon {
  font-size: 80px;
  color: #98ca3f;
}
.TodoTitle-title {
  font-size: 45px;
  color: #98ca3f;
}