.LoadingTodo-container {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}
.LoadingTodo-text {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1cb698;
}
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
  border-radius: 50px;
  height: 45px;
  width: 45px;
}
.LoadingTodo-completeIcon {
  position: absolute;
  left: 12px;
}
.LoadingTodo-deleteIcon {
  position: absolute;
  top: -24px;
  right: 10;
}
.LoadingTodo-container,
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
  background: linear-gradient(90deg, #1cb69793, #bbbbbb83);
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}
@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}