form {
  width: 250px;
  max-width: 300px;
  background-color: #FFA000;
  padding: 33px 40px;
  border: 1px solid none;
  border-radius: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #FFECB3;
  margin-bottom: 26px;
}

textarea {
  background-color: transparent;
  border: 2px solid #FFC107;
  border-radius: 2px;
  box-shadow: 0px 0px 16px 6px rgba(255, 153, 0, 0.836);
  color: #757575;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
}

textarea::placeholder {
  color: #757575;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

textarea:focus {
  outline-color: #FFC107;
}

.TodoForm-buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #FFECB3;
  width: 120px;
  height: 48px;
  border: 1px solid #FFC107;
  border-radius: 2px;
  font-family: 'Ubuntu', sans-serif;
}

.TodoForm-button--add {
  background: #FFC107;
}

.TodoForm-button--cancel {
  background: transparent;
}
