.TodoSearch {
  background: transparent;
  border: 2px solid #FF9800;
  border-radius: 20px 0 20px 0;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 18px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #757575;
  z-index: 5;
}

.TodoSearch::placeholder {
  color: #757575;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #FF9800;
}

.TodoSearch:disabled {
  opacity: 35%;
}